@model AdOut.Identity.Model.Api.LogInModel
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BeginForm("LogIn", "Auth", FormMethod.Post)
{
    <div class="login-page">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <div>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            @Html.LabelFor(m => m.Remember)
            @Html.CheckBoxFor(m => m.Remember)
        </div>
        <div>
            <input type="submit" value="LogIn" />
        </div>
    </div>
}

    

